<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
  <h1 class="text-center">BOT</h1>
  <img src="assets/images/discordbot.png" class="img-fluid center-block" alt="Bot">
  <% include ../partials/footer.ejs %>
</body>
</html>
